* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 15px;
    min-height: 0;
    border-radius: 5px;
}

@import 'gruvbox.css';

window#waybar {
    /*background: rgba(40, 40, 40, 1);*/
    background: @background0_s;
    border-bottom: 3px solid @rotten_red;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
    border-bottom: 3px solid transparent;
    border-right: 3px groove @background;
    /*background:
        linear-gradient(to bottom, transparent 20%, orange 20%, orange 70%, transparent 70%) 100% 0 / 3px 100% no-repeat,
        transparent*/
}

/*
#workspaces#button.after {
    content: '';
    width: 60px;
    height: 4px;
    background: gray;
    position: absolute;
    left: -4px;
}
*/
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid @white_b;
    /*background:
        linear-gradient(to bottom, transparent 20%, orange 20%, orange 70%, transparent 70%) 100% 0 / 3px 100% no-repeat,
        rgba(0, 0, 0, 0.2)*/
}

#workspaces button.focused {
    background: @rotten_red;
    border-bottom: 3px solid @rotten_red;
    border-right: 3px solid @rotten_red;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#mpd {
    padding: 0 6px;
    margin: 0 3px;
    border-left: 3px groove @background;
}

#cpu.warning {
    color: @background0_s;
    background-color: @yellow_b;
    border-left: none;
}

#cpu.critical {
    color: @background0_s;
    background-color: @red_b;
    border-left: none;
}

#memory.warning {
    color: @background0_s;
    background-color: @yellow_b;
    border-left: none;
}

#memory.critical {
    color: @background0_s;
    background-color: @red_b;
    border-left: none;
}

#network.warning {
    color: @background0_s;
    background-color: @yellow_b;
    border-left: none;
}

#network.critical {
    color: @background0_s;
    background-color: @red_b;
    border-left: none;
}

#network.disconnected {
    color: @background0_s;
    background-color: @red_b;
    border-left: none;
}

#disk.warning {
    color: @background0_s;
    background-color: @yellow_b;
    border-left: none;
}

#disk.critical {
    color: @background0_s;
    background-color: @red_b;
    border-left: none;
}

#temperature.critical {
    color: @background0_s;
    background-color: @red_b;
    border-left: none;
}

#mode, #clock, #battery {
    padding: 0 10px;
    margin: 0 5px;
}

#mode {
    background-color: @red;
    border-bottom: 3px solid @white_b;
}

#clock {
    background-color: @foreground;
    color: @background0_s;
}

#battery {
    background-color: @foreground;
    color: @background0_s;
}

#battery.charging {
    color: @background0_s;
    background-color: @aqua_b;
}

@keyframes blink {
    to {
        background-color: @white_b;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background: @red_b;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*
label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/
